.button{
    border-radius: 4px;
    border-color: #2196f3;
    background-color: #2196f3;
    color: white;
    margin-left: 10px;
    margin-top: 10px;;
    margin-bottom: 10px;
}
.section{
    background-color: rgb(179, 174, 174);
    padding-bottom: 15px;
}
.cast{
    color: #2196f3;;
}